* {font-family: 'Noto Sans KR', sans-serif; }
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(fonts/AnyConv.com__NotoSansKR-Regular.woff);
}

/* 전체CSS */

.all_header { background:url(image/sellas2.png) no-repeat; background-size: cover;
    padding : 10px 15px ; }
    .all_header > * {width: 978px; margin: 0 auto; }
    .bg_logo, .bg_detail { float: left; padding: 10px; margin: 0 auto;}
    .bg_detail {width: 300px; text-align: right;}
    
.all_header::after, .commu_wrap::after {content: ' '; display:block; clear: both;}

.all_nav { background: #01181C; padding: 20px;}
.all_nav ul {width : 978px; margin: 0 auto 30px; list-style-type: none;  }
.all_nav li {float: left; margin : auto 15px ;}
.all_nav li a {color: #eee; text-decoration: none;}



/* 공통사용 ul */
ul {list-style-type: none;}

.input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: #eee 0 solid;
}

* > a { color: #eee; text-decoration: none; text-align: center;}



/* index제외한 전체 배경화면 적용 */
body {
    background-image: url(image/sellas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
} 

/* sign_up */
.signup {
    width: 400px;
    margin: 150px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    /* border-radius: 20%; */
    /* text-decoration: underline 3px; */
}
.signup li {padding : 5px ;}
.signup h6 {text-align:center; margin : auto auto -10px auto; padding: 5px ; color : #222}

/* sign_in */
.login h3 {
    background: none;
    margin: 10px auto;
    text-align: center;
}
.login {
    width: 400px;
    margin: 250px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/* 로그인, 회원가입, 약관동의 제목 */
.contract h3, .login h3, .signup1 { text-decoration: underline 3px; color : #222}

/* 로그인, 회원가입, 약관동의 버튼 */
.btn_login {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    padding : 10px;
    text-align: center;
    background: linear-gradient(#666, #333)
}
.btn_login:hover {background: linear-gradient(#333, #666) ; text-decoration: underline; color: #222;}


/* notice */
.notice {
    width: 1000px;
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

table{
    width: 800px;
    text-align: center; 
    border:  rgba(255, 255, 255, 0.5) 3px solid ;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    font-family: dotum;
}  

table th {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: #01181C;
}


/* contract */
.contract {
    width: 500px;
    margin: 117px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
 }

 .contract_checkbox {
     color : #222;
 }
 
