* {font-family: 'Noto Sans KR', sans-serif; }
@font-face {
    font-family: 'Noto Sans KR';
    src: url(fonts/AnyConv.com__NotoSansKR-Regular.woff);
}
@font-face {
    font-family: 'Maplestory-Light';
    src: url(fonts/Maplestory-Light.woff);
}
@font-face {
    font-family: 'Maplestory-Bold';
    src: url(fonts/Maplestory-Bold.woff);
}

/* 전체CSS 공통적용 header, nav, footer */
body {margin: 0;}
.all-header { background:url(image/sellas2.png) no-repeat; background-size: cover;
    padding : 10px 15px ; }
.all-header > * {width: 978px; margin: 0 auto; }
.bg-logo, .bg-detail { float: left; padding: 10px; margin: 0 auto;}
.bg-detail {width: 300px; text-align: right;}
    
.all-header::after, .commu-wrap::after {content: ' '; display:block; clear: both;}

.all-nav { background: #01181C; padding: 20px;}
.all-nav ul {width : 978px; margin: 0 auto 30px; list-style-type: none;  }
.all-nav li {float: left; margin : auto 15px;}
.all-nav li a {color: #eee; text-decoration: none; padding: 15px; font-family: 'Maplestory-Light';}
.all-nav li a:hover {text-shadow: 5px 5px 5px#eee; }

.footer {background: url(image/sellas2.png) no-repeat; text-align: center; 
    text-shadow: #222 3px 3px 3px; padding: 50px; background-size: cover; }
.footer address {color: #eee;}

/* 공통사용 ul */
* {color: #222;}
* > a { color: #eee; text-decoration: none; text-align: center;}
ul {list-style-type: none;}

.input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: #eee 0 solid;
}

/* index제외한 전체 배경화면 적용 */
.body {
    background-image: url(image/sellas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
} 


/* index */
    /* commu-wrap both */
    .commu-wrap { background: #eee; min-height: 1600px; width: 978px; margin: 0 auto; padding: 10px;}
    .commu-wrap > * {margin: 0 auto; }
    .commu-wrap-right, .commu-wrap-left { float: left ; padding: 10px;}

    /* left side */
    .commu-wrap-left { width: 70%; }
    .commu-wrap1, .commu-wrap2, .commu-wrap3 {margin: 5px auto; padding: 10px; background-color: rgba(255, 255, 255, .5); border-radius: 5px;}
    .commu-wrap1 h3 {margin: 0 auto; padding : 5px; background-color: rgba(9, 24, 78, .8); color: #ddd;}    
    .commu-wrap1 p {text-align: both; margin: 0 auto; padding: 5px; font-weight: 500; 
        background-color: rgba(9, 24, 78, .7); color: #ddd;}
    .commu-wrap1-image { height:100%; width: 100%; border-style: dashed none; border-color: #222;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .commu-wrap-right{width: 24%; margin: 20px auto;}


    /* commmu-wrap2 */
    .commu-wrap2 h1 {margin: 10px auto 10px 5px ;  font-family: 'Maplestory-Bold'; display: block;}
    .cody-wrap {margin: 20px auto; padding : 5px; background-color: #292B4B55;}
    .ballon { border: 1px solid #eee; padding: 15px; width:130px;
        border-radius: 10px; position: relative; margin: 10px auto; color: #eee;
        font-family: 'Maplestory-Light';}
    .ballon::after{
        position: absolute; content: ' '; border: solid; 
        border-color: #eee  transparent transparent transparent;
        border-width: 15px 10px;
        left: 70px; bottom: -30px; width: 0px; height: 0px;
    }
    .cody-wrap1 {float : left; margin : 10px 10px; 
        width : 180px; height: 300px; background-color: #222; 
        text-align: center; padding: 5px; border: 2px #aaa dashed; border-radius: 10px;
        }
    .cody-wrap img:hover{transform: scale(1.08);}
    .cody-wrap1 > div > a { font-family: 'Maplestory-Light'; }
    .cody-wrap1 > div > a > img {margin: 0 auto;}
    .cody-wrap1 img {margin: 15px auto; transition: all .5s;}
    .cody-wrap1 span {margin: 0; color: white;}
    .server-nick { display: inline-block; }
    .cody-wrap > ul { margin: 0 auto; padding: 0;}
    .cody-wrap::after {content: ' '; display: block; clear: both;}

    /* commu-wrap3 */
    .commu-wrap3 .party, .character, .security {
        width: 97%; height: 200px;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        padding: 10px;
    }
    .party { background: url(image/lala1.jpg) no-repeat; transition: all .5s; margin-bottom: 15px;}
    .character { background: url(image/party.jpg) no-repeat; transition: all .5s; padding-bottom: 0;}
    .security { background: url(image/map1.jpg) no-repeat; transition: all .5s; margin-bottom: 15px;}
    .party:hover, .character:hover, .security:hover {transform: scale(1.02); border-radius: 5px;}
    .commu-wrap3 h1 { margin: 5px  auto; font-family: 'Maplestory-Bold';}
    .commu-wrap3 > p {font-family: 'Maplestory-Light';}

    /* right side */
    .commu-wrap-right { height: 395px; background-color: rgba(255, 255, 255, .5); border-radius: 5px;}
    .main-btn-login { 
        width : 150px; height: 25px; 
        background: linear-gradient(#333, #666); cursor: pointer;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin: 100px auto;
    }
    .main-btn-login1 {margin: -80px auto 0 33px;}
    .main-btn-login2 { 
        width : 70px; height: 25px; 
        background: linear-gradient(#333, #666); cursor: pointer;
        text-align: center;
        border-radius: 10px;
        padding: 7px;
        display: inline-block;
    }
    .main-btn-login3 {display: inline-block; padding: 3px; margin: 5px auto; width: 30px;}
    .main-btn-login:hover {background: linear-gradient(#666, #333) ; text-decoration: underline; color: #222;}


/* sign-up */
.signup {
    width: 400px;
    margin: 150px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.signup li {padding : 5px ;}
.signup h6 {text-align:center; margin : auto auto -10px auto; padding: 5px ;}
.signup ul li {height: 5px;}


/* sign-in */
.login h3, .signup h3 {
    background: none;
    margin: 10px auto;
    text-align: center;
}
.login {
    width: 400px;
    margin: 250px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}


/* 로그인, 회원가입, 약관동의 제목 */
.contract h3, .login h3, .signup1, .signup h3 { text-decoration: underline 3px;}


/* 로그인, 회원가입, 약관동의 버튼 */
.btn-login {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    padding : 10px;
    text-align: center;
    background: linear-gradient(#666, #333)
}
.btn-login:hover {background: linear-gradient(#333, #666) ; text-decoration: underline; color: #222;}


/* notice, free 구성이 같아 같은 class명 사용 */
.notice {
    width: 1000px;
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

table{
    width: 800px;
    text-align: center; 
    border:  rgba(255, 255, 255, 0.5) 3px solid ;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    font-family: dotum;
}  

table th {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: #01181C;
}
.notice h1 {text-align: center;}
.notice .table th {text-align: center; padding: 8px; }
.notice .table td {padding: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice tr:hover{background-color: rgba(125, 205, 100, 0.5);}

.notice .table td, .notice .table td + td + td  {text-align: center;}
.notice .table td + td {text-align: left;}

.notice .col1, .notice .col5 {width: 7%;}
.notice .col4, .notice .col3 {width: 15%;}

.btn-notice { 
    margin: 0 auto;
    width: 50px; height: 25px;
    padding: 5px;
    border-radius: 7px;
    background: linear-gradient(#666, #333);
    text-align: center;
}
.btn-notice:hover {background: linear-gradient(#333, #666) ; text-decoration: underline;}

.notice-index { 
    margin: 0 auto;
    width: 700px;
}
.btn-notice-index ul{
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}
.btn-notice-index ul li { 
    width: 10px;
    display: inline-block;
    padding: 5px;
    background: linear-gradient(#666, #333);
    border-radius: 10px;
    color: #eee;
}
.btn-notice-index ul li:hover {background: linear-gradient(#333, #666) ; text-decoration: underline; color: #222;}

.table tr td a { color : black}


/* write, detail 구성이 같아 같은 클래스사용 */
.write {
    width: 974px;
    min-height: 500px;
    margin: 80px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5)
}   

.page{
    width: 800px;
    min-height: 400px;
    margin: 10px auto 0;
    padding: 10px;
}

.write-title, .write-question { width: 780px; margin: 0 auto; }
.write-title{ min-height: 50px; }

.date {
    float: right;
    margin: 10px 100px;
    padding: 15px;
    color: #222;
}

.date::after {clear: both; content: ' '; display:block;}

.write-question{
    min-height: 300px;
}


.write-title-textarea, .write-title-textarea1 {
    resize: none;
    border: 0;
    margin: 10px auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #222;
}

.write-title-textarea {
    width: 400px;
    height: 14px;
    overflow: hidden;
}

.write-title-textarea1 {
    width: 740px;
    min-height: 300px;
}

.btn-write { 
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
.btn-write a:hover {background: linear-gradient(#333, #666) ; text-decoration: underline; color: #222;}

.btn-write a {
    background: linear-gradient(#666,#333);
    padding: 10px;
    border-radius: 7px;
    margin: 0 10px;
    }

.write-div {
    width: 99%;
    height: 50px;
    overflow: scroll;
}



/* contract */
.contract {
    width: 500px;
    margin: 117px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
 }

 .contract-checkbox {
     color : #222;
 }
 .contract-checkbox:active { text-shadow: lightblue 1px 0 10px;}

 .contract-p {
    border: 1px solid gray;
    overflow: auto;
    height: 300px;
    text-align: both;
  }
 
